<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Diglin_GoogleAnalytics>
            <version>1.4.0</version>
        </Diglin_GoogleAnalytics>
    </modules>

    <default>
        <google>
            <remarketing>
                <active>0</active>
                <home><![CDATA[
cms_index_index
cms_index_defaultindex
cms_page
                ]]></home>
                <searchresults><![CDATA[
catalogsearch_result_index
catalogsearch_advanced_result
                ]]></searchresults>
                <category><![CDATA[
catalog_category_default
catalog_category_layered
catalog_product_compare_index
                ]]></category>
                <product><![CDATA[
catalog_product_view
checkout_cart_configure
                ]]></product>
                <cart><![CDATA[
checkout_cart_index
checkout_onepage_index
checkout_multishipping
checkout_multishipping_login
checkout_multishipping_register
checkout_multishipping_address_select
checkout_multishipping_address_selectbilling
checkout_multishipping_address_newshipping
checkout_multishipping_address_newbilling
checkout_multishipping_address_editshipping
checkout_multishipping_address_editaddress
checkout_multishipping_address_editbilling
checkout_multishipping_customer_address
checkout_multishipping_addresses
checkout_multishipping_shipping
checkout_multishipping_billing
checkout_multishipping_overview
                ]]></cart>
                <purchase><![CDATA[
checkout_onepage_failure
checkout_onepage_success
checkout_multishipping_success
                ]]></purchase>
                <other><![CDATA[
contacts_index_index
                ]]></other>
            </remarketing>
            <analytics>
                <type>analytics</type>
                <universal_analytics>1</universal_analytics>
                <ga_post_request>0</ga_post_request>
                <order_status><![CDATA[a:4:{s:18:"_1448981823547_547";a:2:{s:5:"state";s:3:"new";s:6:"status";s:10:"processing";}s:18:"_1448981849644_644";a:2:{s:5:"state";s:3:"new";s:6:"status";s:7:"pending";}s:18:"_1448981857149_149";a:2:{s:5:"state";s:3:"new";s:6:"status";s:15:"pending_payment";}s:18:"_1448981864924_924";a:2:{s:5:"state";s:8:"complete";s:6:"status";s:8:"complete";}}]]></order_status>
                <page_title><![CDATA[Checkout success]]></page_title>
                <page_url><![CDATA[/checkout/onepage/success]]></page_url>
            </analytics>
            <social>
                <fb_like>1</fb_like>
                <fb_unlike>1</fb_unlike>
                <fb_share>1</fb_share>
                <twitter_interactions>1</twitter_interactions>
            </social>
        </google>
    </default>

    <global>
        <blocks>
            <diglin_googleanalytics>
                <class>Diglin_GoogleAnalytics_Block</class>
            </diglin_googleanalytics>
            <googleanalytics>
                <rewrite>
                    <ga>Diglin_GoogleAnalytics_Block_Ga</ga>
                </rewrite>
            </googleanalytics>
        </blocks>

        <helpers>
            <diglin_googleanalytics>
                <class>Diglin_GoogleAnalytics_Helper</class>
            </diglin_googleanalytics>
        </helpers>

        <models>
            <diglin_googleanalytics>
                <class>Diglin_GoogleAnalytics_Model</class>
            </diglin_googleanalytics>
        </models>

        <resources>
            <diglin_ga_setup>
                <setup>
                    <module>Diglin_GoogleAnalytics</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diglin_ga_setup>

            <diglin_ga_resource_read>
                <connection>core_read</connection>
            </diglin_ga_resource_read>

            <diglin_ga_resource_write>
                <connection>core_write</connection>
            </diglin_ga_resource_write>
        </resources>

        <events>
            <sales_order_place_after>
                <observers>
                    <diglin_googleanalytics_save_fields>
                        <type>singleton</type>
                        <class>diglin_googleanalytics/observer</class>
                        <method>saveFields</method>
                    </diglin_googleanalytics_save_fields>
                </observers>
            </sales_order_place_after>

            <sales_order_save_after>
                <observers>
                    <diglin_googleanalytics_track>
                        <type>singleton</type>
                        <class>diglin_googleanalytics/observer</class>
                        <method>track</method>
                    </diglin_googleanalytics_track>
                </observers>
            </sales_order_save_after>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <diglin_googleanalytics>
                    <file>diglin/googleanalytics.xml</file>
                </diglin_googleanalytics>
            </updates>
        </layout>
    </frontend>
</config>
